* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: grey;
}
li {
  position: relative;
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-sx img {
  height: 30px;
  vertical-align: middle;
}
.nav-sx li:last-child {
  color: grey;
}
.nav-dx {
  color: grey;
}

.drop {
  white-space: nowrap;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
.drop li span {
  color: #eb018d;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: -12px;
  right: 5px;
}
.drop.active {
  display: flex;
  flex-direction: column;
}
.it i {
  position: relative;
  bottom: -5px;
}
button {
  background-color: #eb018d;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 15px;
}
.burger {
  display: none;
}
@media screen and (max-width: 900px) {
  .nav-dx {
    display: none;
  }
  .burger{
    display: block;
    padding-left: 10px;
  }
  .burger i {
    padding: 10px;
    color: grey;
    font-size: 19px;
  }
  .burger > i:nth-child(2) {
    position: relative;
    right: -60px;
    font-size: 24px;
  }
  .burger ul{
    display: none;

  }
  .burger ul li{
    display: block;
  }
}


.active {
  display: block;
}
.hidden {
  display: none;
}
